
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e0b3ff; /* mor arka plan */
    color: #fff;
}
.header {
    text-align: center;
    padding: 50px;
    background-color: #a64ca6;
}
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.gallery img {
    width: 200px;
    margin: 10px;
    border: 5px solid white;
    border-radius: 15px;
}
